* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(36, 32, 32);
}
/* .frame {
    position: absolute;
    top:25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
} */

h2 {
    color: rgb(223, 12, 12);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: 600;
}
button:hover {
    background-color: rgb(65, 58, 58);
    border: 1px solid #fff;
    color: #fff;
}
.count {
    font-size: 35px;
    margin: 30px;
}
